@media screen and (max-width:675px) {
    .description {

        grid-template-columns: auto;
    }

    .container {
        width: 100%;
    }
}

@media screen and (min-width:680px) and (max-width:950px) {

    .description {

        grid-template-columns: auto auto;
        margin-left: 80px;
    }

    .container {
        width: 100%;
    }
}